.tabela_servicos {
    margin: auto;
    width: 60%;
    border: 2px solid #c51180;
    box-shadow: 4px 3px 4px 3px #FFD5F2 ;
    border-radius: 10px 10px 0 0 ;
}
.tabela_servicos h1{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}
table {
    margin: auto;
    width: 100%;
}

.head_tabela th {
    background-color: pink;
    font-size: 1.5em;
    border: 1px solid black;

}

.body_tabela td {
    background-color: white;
    border: 1px solid black;

}

.body_tabela1 td {
    background-color: rgba(128, 128, 128, 0.244);
    border: 1px solid black;

}

table .item {
    padding-left: 15px;
    width: 80%;
    font-size: 1.2em;
}

table .preco {
    text-align: center;
    width: 20%;
    font-size: 1.4em;
}
.buttonContainer{
    width: 30%;
    margin: auto;
    margin-top: -50px;
    margin-bottom: 20px;
}
#buttonPreco {
    width: 100%;
    font-size: 1.7em;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: var(--corButton);
    border: 1px solid black;
    color: white;
    cursor: pointer;
    transition: .3s;
}

#buttonPreco:hover {
    background-color: var(--corBottom);
}
@media (max-width: 900px) {
    .buttonContainer{
        width: 50%;
    }
}